.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  padding: 40px;
}

@media (max-width: 900px) {
  .home {
    grid-template-columns: 1fr;
  }
}

.workouts {
  display: grid;
  gap: 20px;
}