.navbar {
  background: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #1aac83;
  margin: 0;
}